* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2f3035;
}

.container {
  margin: 0 auto;
  width: 1024px;
}

header {
  height: 118px;
  width: 100%;
  text-align: center;
}

nav {
  background-color: red;
  height: 40px;
  width: 100%;
}

main {
  height: 400px;
  text-align: center;
  padding: 80px 240px;
}

footer {
  background-color: green;
  height: 100px;
  width: 100%;
}

h1 {
  font-size: 84px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 18px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  padding: 15px 20px;
  border: 2px solid #555;
  border-radius: 50px;
}
a:hover {
  color: #555;
  background-color: #fff;
}
a:active {
  transform: translateY(2px);
}
