@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #75bce6;
  font-family: 'Mulish', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.line {
  background-color: #fff;
  height: 3vh;
  width: 0;
  position: absolute;
  top: 50%;
  left: -1vw;
  transform: translateY(-50%);
  border-radius: 40px;
  animation: grow 3s linear forwards;
  z-index: 2;
}

@keyframes grow {
  to {
    width: 102vw;
  }
}

.overlay {
  z-index: 2;
}
