@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #fafafa;
  padding-bottom: 100px;
}

.container {
  margin: 15px auto;
  max-width: 600px;
}
.blog-post {
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(50, 50, 50, 0.1),
    0px 2px 4px rgba(60, 60, 60, 0.1);
  border-radius: 5px;
  padding: 40px;
  margin: 20px 0;
}
.title {
  margin: 0;
}
.text {
  color: #555;
  margin: 20px 0;
}
.user-info {
  display: flex;
  align-items: center;
}
.user-info img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.user-info span {
  font-size: 13px;
  margin-left: 10px;
}

/* Styles for the loading animation */
.loading {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}
.loading.show {
  opacity: 1;
}
.loading .sp {
  width: 32px;
  height: 32px;
}
.loading .sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px rgba(0, 0, 0, 1) solid;
  border-radius: 50%;
  animation: spCirRot 0.6s infinite linear;
}

/* Main Loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: display 0.3s ease;
}
.loader {
  opacity: 1;
}
.loader .sp {
  width: 32px;
  height: 32px;
  margin: 30px;
}
.loader .sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px rgba(0, 0, 0, 1) solid;
  border-radius: 50%;
  animation: spCirRot 0.6s infinite linear;
}


@keyframes spCirRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}