@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('./img/white-bg.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-top: -5rem;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-size: 6rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
    margin-top: 0;
  }
  .big-text {
    font-size: 3rem;
    margin-top: 1rem;
  }
}