* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: #fd1f4a;
}

.box {
  display: flex;
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.box .icon {
  position: relative;
  display: flex;
  align-items: center;
  height: 65px;
  width: 65px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.box .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #333;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* icon colors */
.box .icon.active {
  background: #fd1f4a;
}
.box .icon.active i {
  color: #fff;
}


.box .icon.active i.open {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(360deg);
}
.box .icon i.close {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(360deg);
}
.box .icon.active i.close {
  opacity: 1;
}
